# Auto detect text files and perform LF normalization
* text=auto
Power[[:space:]]BI[[:space:]]files/NYC[[:space:]]Yellow[[:space:]]Taxi[[:space:]]Trip[[:space:]]Insights.pbix filter=lfs diff=lfs merge=lfs -text
